body{
    width:50%;
    margin: 0 auto;
    background-color: bisque;
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.team{
    background-color: rgb(6, 238, 238);
    color: black;
    
}

p{
    color:blue;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px;
}

footer{
    background-color: gold;
    padding: 10px;
}
